/* Configuraciones generales */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@100..700&display=swap');

:root {
    --primary-colorL: #F1FFBDB0;
    --secondary-colorL: #B4C186EF;
    --third-colorL: #000000;

    --primary-colorD: #0B1E26;
    --secondary-colorD: #CBF0FF;
    --third-colorD: #FCFCFC;
}

body {
    background-color: var(--primary-colorL);
    font-family: "Chakra Petch", sans-serif;;
    height: 100vh;
    margin: 0;
    
}

/* Zona principal */
header {
    height: 100px;
    
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}

footer {
    background-color: var(--secondary-colorL);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

/* Div de texto */

#text {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

h1 {
    margin: 0;
    font-size: 40px;
}

#ingresar-texto {
    font-size: 32px;
    font-weight:200;
    border: none;
    background-color: #f1ffbd33;
}

#ingresar-texto:active{
    
}

#ingresar-texto:focus {
    outline: none;
}

i{
    margin-right: 20px;
}
#advertencia {
    font-size: 20px;
    font-weight:normal;
}

#encriptar, #desencriptar {
    background-color: var(--secondary-colorL);
    border: none;
    border-radius: 15px;
    height: 67px;
    width: 239px;
    font-size: 24px;
    font-weight: 400;
}

/* Div de encriptación */

#encriptacion {
    height: 714px;
    width: 406px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-colorL);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

#copy {
    height: 42px;
    width: 105px;
}

#text-Desencriptado {
    height: 124px;
    width: 328px;
}