/* Configuraciones generales */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@100..700&display=swap');

:root {
    --primary-colorL: #F1FFBDB0;
    --secondary-colorL: #B4C186EF;
    --third-colorL: #000000;

    --primary-colorD: #0B1E26;
    --secondary-colorD: #CBF0FF;
    --third-colorD: #FCFCFC;
}

body {
    background-color: var(--primary-colorL);
    font-family: "Chakra Petch", sans-serif;;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

/* Zona principal */
header {
    height: 100px;
    
}

main {
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 250px;
}

footer {
    background-color: var(--secondary-colorL);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

/* Div de texto */

#text {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-between;
    margin: 0;
    max-height: 715px;
    min-height: 714px;
    width: 500px;
    border: none;
    padding: 0;
    
}

h1 {
    margin: 0;
    font-size: 40px;
}

/* Text area encriptar */
#ingresar-texto {
    width: 460px; 
    height: 460px;
    resize: none; 
    overflow-y: auto; 
    word-wrap: break-word;
    font-size: 32px;
    font-weight: 200;
    color: #0a0a0aa4;
    border: none;   
    background-color: #f1ffbd00;   
}

#ingresar-texto:focus {
    border: none;
    outline: none;
}

i{
    margin-right: 20px;
}
#advertencia {
    font-size: 20px;
    font-weight:normal;
}

/* Botones encriptar y desencriptar */

#encriptar, #desencriptar {
    background-color: var(--secondary-colorL);
    border: none;
    border-radius: 15px;
    height: 61px;
    width: 200px;
    font-size: 24px;
    font-weight: 300;
    color: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}

#encriptar:hover, #desencriptar:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
    background-color: #99a373ef; 
    cursor: pointer;
}

#encriptar:active, #desencriptar:active {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); 
    transform: translateY(2px); 
}



.button {
    display: flex;
    gap: 65px;
    width: 490px;
}

/* Div de encriptación */


#copy {
    height: 42px;
    width: 105px;
    background-color: #25291A;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#copy:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
    background-color: rgba(0, 0, 0, 0.678);
    cursor: pointer;
}

#copy:active {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(2px); 
}

#encriptacion {
    height: 680px;
    width: 386px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-between;
    background-color: var(--secondary-colorL);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px
}

#text-Desencriptado {
    width: 460px; 
    height: 460px;
    resize: none; 
    overflow-y: auto; 
    word-wrap: break-word;
    font-size: 32px;
    font-weight: 200;
    color: #0a0a0a;
    border: none;   
    background-color: #f1ffbd00;  
}