/* Configuraciones generales */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@100..700&display=swap');

:root {
    --primary-colorL: #F1FFBDB0;
    --secondary-colorL: #B4C186EF;
    --third-colorL: #000000;

    --primary-colorD: #0B1E26;
    --secondary-colorD: #CBF0FF;
    --third-colorD: #FCFCFC;
}

body {
    background-color: var(--primary-colorL);
    font-family: "Chakra Petch", sans-serif;;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

/* Zona principal */
header {
    height: 100px;
    
}

main {
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 250px;
}

footer {
    background-color: var(--secondary-colorL);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

/* Div de texto */

#text {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-between;
    margin: 0;
    max-height: 715px;
    min-height: 714px;
    width: 500px;
    border: none;
    padding: 0;
    
}

h1 {
    margin: 0;
    font-size: 40px;
}

#ingresar-texto {
    width: 460px; /* Ancho fijo */
    height: 460px;
    resize: none; /* Evita que el usuario cambie el tamaño del textarea */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado largo */
    word-wrap: break-word;
    font-size: 32px;
    font-weight:lighter;
    border: none;   
    background-color: #f1ffbd00;   
}

#ingresar-texto:focus {
    border: none;
    outline: none;
}

i{
    margin-right: 20px;
}
#advertencia {
    font-size: 20px;
    font-weight:normal;
}

#encriptar, #desencriptar {
    background-color: var(--secondary-colorL);
    border: none;
    border-radius: 15px;
    height: 61px;
    width: 200px;
    font-size: 24px;
    font-weight: 300;
}


.button {
    display: flex;
    gap: 65px;
    width: 490px;
}

/* Div de encriptación */

#encriptacion {
    height: 680px;
    width: 386px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-between;
    background-color: var(--secondary-colorL);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px
}

#copy {
    height: 42px;
    width: 105px;
}

#text-Desencriptado {
    height: 124px;
    width: 328px;
}